<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id = "app">
  <select name="fruit" id="fruit" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="橘子">橘子</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h1>你选择的水果是：{{fruit}}</h1>

  <select name="fruit" id="fruits" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="橘子">橘子</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h1>你选择的水果是：{{fruits}}</h1>
</div>
<script src = "../vue/vue.js"></script>
<script>
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello world',
        fruit: "橘子",
        fruits: []
      }
    })
</script>
</body>
</html>